

body {
    font-family:'Open Sans', 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
    font-size:16px;
    line-height:27px;
    word-wrap: break-word;
    margin: 0em;
    padding: 0em;
    border: 0em;
    vertical-align: baseline;
    overflow:hidden;
    background-color:#ffffff;
}

#wrapper {
    position: fixed;
    width: 99.9%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#content {
    width: 38.125em;
    margin: 0em auto 0em auto;

}


h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
    line-height: 1;
    margin: 0.5rem 0em;
}

h1, h2, h3 { margin-bottom: 1rem; }

h1 { font-size: 2.0rem; 
text-align:center; }
h2 { font-size: 2.25rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.00rem; }
h6 { font-size: 0.85rem; }

/**
 *
 Paragraphs
 *
 */

p {
    margin: 0em 0em 1.5em;
    line-height:1.7em;/*设置行间距*/
}

/**
 *
 Block quotes
 *
 */

blockquote {
    margin: 0em 0em 1.5em;
    width: 96%;
    padding: 0em 0.625em/*px*/;
    border-left: 0.1875em/*0.1875em*/ solid #ddd;
    color: #777;
}

/**
 *
 Code Blocks
 *
 */


code {
    white-space: pre-wrap;
    font-family: monospace;
    padding: 0.125em;
    /*-webkit-border-radius: 0.1875em;*/
    display: block;
    background-color: #eee;
}

small {
    font-size: 65%;
}

/**
 *
 Dictionary Definition
 *
 */

dt {
    display: inline;
    font-weight:bold;
}

dd {
    display: block;
}

/**
 *
 Anchors
 *
 */

a {
    color: #308bd8;
    text-decoration:none;
}
a:hover {
    text-decoration: underline;
}

/**
 *
 Horizontal rules
 *
 */

hr {
    width: 100%;
    margin: 3em auto;
    border: 0em;
    color: #eee;
    background-color: #ccc;
    height: 0.0625em/*0.0625em*/;
    /*-webkit-box-shadow:0em 0.0625em 0em rgba(255, 255, 255, 0.75);*/
}

/**
 *
 Lists
 *
 */

ol, ul {
    list-style-position: outside;
    padding-left: 0em;
    margin-left: 1.5em;
}

ol li, ul li {
    text-align: -webkit-match-parent;
    list-style-type: none;

}

li p {
    margin: 0.5em 0em 0.5em;
}

ol ol, ol ul, ul ul, ul ol {
    padding-left: 1.5em;
}

/**
 *
 Tables
 *
 */

table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    border-bottom: 0.0625em solid #ddd;
    border-right: 0.0625em solid #ddd;
    border-spacing: 0em;
}

table th {
    padding: 0.1875em 0.625em;
    background-color: #eee;
    border-top: 0.0625em solid #ddd;
    border-left: 0.0625em solid #ddd;
}

table td {
    padding: 0.1875em 0.625em;
    border-top: 0.0625em solid #ddd;
    border-left: 0.0625em solid #ddd;
}

/**
 *
 Images
 *
 */

img {
    border: none;
    display: block;
    margin: 1em auto;
    max-width: 100%;
}

/**
 *
 Marks
 *
 */

mark {
    background: #fefec0;
    padding:0.0625em 0.1875em;
}

/**
 *
 Footnotes
 *
 */
.footnote {
    font-size: 0.8rem;
    vertical-align: super;
}
.footnotes ol {
    font-weight: bold;
}
.footnotes ol li {
    text-align: -webkit-match-parent;
}

.footnotes ol li p {
    font-weight: normal;
}

/**
 *
 Figures and Captions
 *
 */
caption {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.3125em;
}

figure {
    display: block;
    /*text-align: center;*/
}

figcaption {
    font-size: 0.8rem;
    font-style: italic;
}

/**
 *
 Custom classes
 *
 */
/*
.shadow {
    -webkit-box-shadow: 0em 0.125em 0.25em #999;
}*/

.source {
    text-align: center;
    font-size: 0.8em;
    color: #777;
    margin: -2.5em auto;
}


/* Mobile support */
@media only screen and (max-device-width:1024px) {
    html {
	overflow: auto;
    }
    #wrapper {
	overflow: auto;
	position: relative;
    }
    #content {
	width:90%; 
	margin: 0em auto 0em auto;
    }
}



